body{
  background-color: #aaa;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 10em;
  text-align: right;
}
nav {
  display: flex;
  justify-content: space-around;
  border: .1em solid black;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li{
  display: flex;
  justify-content: space-around;
}

#logout{
  margin: 0vw;
  display: flex;
  justify-content: space-left;
}

.small-images {
  height: 6em;
  width: 6em;
}
